.container {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: 'center';
}

.imageFrontStaff {
    /*flex: 1;*/
    height: 525px;
    width: 325px;
    margin: 8;
    background-image: url('../../IDcardStaffTemplate.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.imageFrontStudent {
    /*flex: 1;*/
    height: 525px;
    width: 325px;
    margin: 8;
    background-image: url('../../IDcardStudentTemplate.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.imageBack {
    /*flex: 1;*/
    height: 525px;
    width: 325px;
    margin: 8;
    margin-top: 4px;
    background-image: url('../../IDcardBackTemplate.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.row {
    display: inline-block;
}

.roleStyle {
    color: #0000
}

.statusStyle {
    font-weight: 600;
    font-size: 10;
    color: #0000
}

.nameStyle {
    font-weight: bold;
    font-size: 24;
    color: #0000
}

.universityStaff {
    position: relative;
    font-size: small;
    font-weight: 600;
    top: 160px;
    left: -90px;
    color: rgb(0, 0, 85);
}

.universityStudent {
    position: relative;
    font-size: small;
    font-weight: 600;
    top: 160px;
    left: -90px;
    color: #FFFF;
}

.statusStaff {
    position: relative;
    font-weight: 600;
    top: 175px;
    left: 0px;
    color: #FFFF;
}

.statusStudent {
    position: relative;
    font-weight: 600;
    top: 175px;
    left: 0px;
    color: rgb(0, 0, 85);
}

.nameStaff {
    position: relative;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    top: 160px;
    left: 0px;
    color: #FFFF;
}
.nameStudent {
    position: relative;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    top: 160px;
    left: 0px;
    color: rgb(0, 0, 85);
}

.roleStaff {
    position: relative;
    font-size: small;
    font-weight: 600;
    top: 150px;
    left: 0px;
    color: #FFFF;
}

.roleStudent {
    position: relative;
    font-size: small;
    font-weight: 600;
    top: 150px;
    left: 0px;
    color: rgb(0, 0, 85);
}

.cardNumberStaff {
    position: relative;
    font-size: small;
    font-weight: bold;
    top: 260px;
    left: 15px;
    color: rgb(0, 0, 85);
}

.cardNumberStudent {
    position: relative;
    font-size: small;
    font-weight: bold;
    top: 260px;
    left: 15px;
    color: #FFFF;
}

.expirationDateStaff {
    position: relative;
    font-size: small;
    font-weight: bold;
    top: 224px;
    left: 110px;
    color: rgb(0, 0, 85);
}

.expirationDateStudent {
    position: relative;
    font-size: small;
    font-weight: bold;
    top: 224px;
    left: 110px;
    color: #FFFF;
}

.qr {
    flex: 1;
    position: relative;
    height: 50px;
    width: 60px;
    top: 88px;
    left: 13px;
}

.profile {
    flex: 1;
    height: 148;
    width: 184;
    top: 0;
    left: 0
}

